{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
        <div class="box">
            <h1 class="auth-label">Admin Login</h1>
            {% with messages = get_flashed_messages() %}
                {% if messages: %}
                    <p class="flash-msg">{{ messages[-1] }}</p>
                {% endif %}
            {% endwith %}

            {{ wtf.quick_form(form=form, novalidate=True, button_map={"submit": "primary"}) }}
        </div>

{% endblock %}